input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: green;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type="radio"] {
  -webkit-appearance: none;
  background-color: red;
  border: 1px solid red;
  border-radius: 26px;
  box-shadow: inset 0 0 0 1px red;
  cursor: pointer;
  height: 28px;
  position: relative;
  transition: border .25s .15s,               box-shadow .25s .3s,               padding .25s;
  width: 44px;
  vertical-align: top; }
  input[type="radio"]:after {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 24px;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    right: 16px;
    top: 0;
    transition: border .25s .15s,                 left .25s .1s,                 right .15s .175s; }
  input[type="radio"]:checked {
    border-color: green;
    box-shadow: inset 0 0 0 13px green;
    padding-left: 18px;
    transition: border .25s,                 box-shadow .25s,                 padding .25s .15s; }
    input[type="radio"]:checked:after {
      border-color: green;
      left: 16px;
      right: 0;
      transition: border .25s,                   left .15s .25s,                   right .25s .175s; }

.boutons{
    font-size: 18px;
    text-align : left;
    color: black;
}

legend{
    font-size: 32px;
    color: black;
}