<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>Javascript</title>
		<meta name="description" content="Javascript">
		<meta name="author" content="PF Villard">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="../common/reveal/css/reveal.css">
		<link rel="stylesheet" href="../common/reveal/css/theme/solarized.css" id="theme">
		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="../common/reveal/lib/css/zenburn.css">
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<!-- ANGULAR -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../common/reveal/css/print/pdf.css' : '../common/reveal/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
	 <div class="reveal">
	  <div class="slides">
	   <a href="harmonisation.html#/3"><img style='width: 25px; height: 25px;' src="../common/home.png"></a>

	<section>
			<h1>Le javascript</h1>
	</section>




<section>
<h2>Langage machine</h2>
<pre><code class="hljs" data-trim contenteditable>
00110001 00000000 00000000 00110001 
00000001 00000001 00110011 00000001 
00000010 01010001 00001011 00000010 
00100010 00000010 00001000 01000011 
00000001 00000000 01000001 00000001 
00000001 00010000 00000010 00000000 
01100010 00000000 00000000 00000000 
</code></pre>
</section>

<section>
<h2>Les mêmes instructions en Français</h2>
	<ol>
		<li>Enregistrer le numéro 0 dans l'emplacement de mémoire 0.</li>
		<li>Enregistrer le numéro 1 dans l'empl. de mém. 1.</li>
		<li>Enregistrer la valeur de l'empl. de mém. 1 dans empl. mém. 2.</li>
		<li>Soustraire le numéro 11 de la valeur dans l'empl. de mém. 2.</li>
		<li>Si la valeur de l'empl. de la mémoire 2 est le nombre 0, passez à l' instruction 9.</li>
		<li>Ajoutez la valeur de l'empl. de mém. 1 à l'empl. de mém. 0.</li>
		<li>Ajouter le numéro 1 à la valeur de l'empl. de mém. 1.</li>
		<li>Continuer avec l'instruction 3.</li>
		<li>Sortie de la valeur de l'empl. de mém. 0.</li>
	</ol>

</section>

<section>
<h2>Avec des noms de variable et en anglais</h2>

<pre><code class="hljs" data-trim contenteditable>
Set "total" to 0.
Set "count" to 1. [loop]
Set "compare" to "count".
Subtract 11 from "compare".
If "compare" is zero, continue at [end]. 
Add "count" to "total".
Add 1 to "count".
Continue at [loop].
[end]
Output "total".
</code></pre>
</section>

<section>
<h2>Le programme en javascript </h2>

<pre><code class="hljs" data-trim contenteditable>
var total = 0, count = 1; 
while (count <= 10) {
	total += count;
	count += 1; 
}
console.log(total);
// → 55
</code></pre>
</section>

<section>
<h2>Conclusion</h2>
<ul>
	<li>Le même programme peut être exprimé de différentes sortes</li>
	<li>Un bon langage informatique permet d'effectuer des actions de haut niveau</li>
</ul>
</section>

<section>
<h2>Le JavaScript</h2>
<ul>
	<li>Introduit en 1995 pour ajouter des programmes à des pages Web dans Netscape</li>
	<li>Utilisé maintenant par tous les navigateurs</li>
	<li>Ajoute de l'interactivité et de l'"intelligence"</li>
	<li>Pas de lien avec Java</li>
	<li>Langage très flexible et facile</li>
	<li>Utilisé pour le WebGL</li>	
</ul>
</section>

<section>
<h2>Le code, et quoi faire avect</h2>
<ul>
	<li>Le code est du texte qui fait un programme</li>
	<li>Lire et <b>écrire</b> du code est la seule façon d'apprendre</li>
	<li><font color=blue>&rarr;</font>Copier/coller des exemples</li>	
	<li><font color=blue>&rarr;</font>Modifier les exemples</li>	
</ul>
</section>

<!-- <section>
<h2>Variables</h2>
<ul>
	<li>Les nombres sont </li>
	<li></li>
</ul>
<div class='right' style='float:right;width:{{right.width}}'>
<iframe  width='600px' height='700px' src="jssandbox.html" seamless></iframe>
</div>
</section>
 -->
<section>
<h2>Quatres notions importantes</h2>
<ul>
	<li>Variables</li>
	<li>Structures de contrôle</li>
	<li>Fonctions</li>
</ul>
</section>

<section>
<h2>Valeurs</h2>
<ul>
	<li>Un nombre, ex : <code>13, 9.81, 2.998e8,(100+4)*11</code> <small>(2<sup>64</sup> nombres possibles sur 64 bits soit  18 quintillion <font color=blue>&rarr;</font> 18 avec 18 zeros derrière)</small></li>
	<li>Une chaine de caractère, ex : <code>"toto",'tutu',"toto "+"tutu"</code></li>
	<li>Un booléen : <code>true, false</code></li>
	<font color=blue>&rarr;</font> <code>(4==5) donne un booléen</code>
</ul>
</section>

<section>
<h2>Variables</h2>
<ul>
	<li>Une variable est définie par <code>var</code>. ex : <code>var x=5;</code></li>
	<li>La valeur d'une variable peut changer</li>
<pre><code data-trim contenteditable>	
var dette = 140; 
dette = dette - 35;	
</code></pre>	
	<li>Les variables commencent par une lettre et ne doivent pas être un mot déjà réservé. 
<span class="fragment fade-out" data-fragment-index="1">
<b>exemple de mot réservé?</b></li>
</span>
<span class="fragment fade-in" data-fragment-index="1">
<code>break case catch class const continue debugger default delete do else enum export extends false finally for function if implements import in instanceof interface let new null package private protected public return static super switch this throw true try typeof var void while with yield
</code></span>
</ul>
</section>
<section>
<h1>Les structures de contrôle</h1>
</section>
<section>
<h2>Flux simple</h2>
<img data-src="../harmo_files/images/flux1.png" style="background:none; border:none; box-shadow:none;max-width:50%;max-height:50%;">
<ul>
	<li>Actions exécutées à la suite les une des autres</li>
</ul>
<pre><code data-trim contenteditable>
var theNumber = Number(prompt("Pick a number", "")); 
alert (" Your number is the square root of " +
theNumber * theNumber);
</code></pre>
</section>

<section>
<h2>Condition</h2>
<img data-src="../harmo_files/images/flux2.png" style="background:none; border:none; box-shadow:none;max-width:50%;max-height:50%;">
<ul>
	<li>Actions exécutées avec une condition</li>
</ul>
<pre><code data-trim contenteditable>
var theNumber = Number(prompt("Pick a number", "")); 
if (!isNaN(theNumber))
{
	alert (" Your number is the square root of " +
theNumber * theNumber);
}
</code></pre>
</section>


<section>
<h2>Conditions multiples</h2>
<img data-src="../harmo_files/images/flux3.png" style="background:none; border:none; box-shadow:none;max-width:50%;max-height:50%;">
<ul>
	<li>Actions exécutées avec plusieurs conditions</li>
</ul>
<pre><code data-trim contenteditable> 
var theNumber = Number(prompt("Pick a number", ""));
if (num < 10) {
  alert("Small");
}	
else if (num < 100) {
    alert("Medium");
  } 
  else {
     alert("Large");
  }   
</code></pre>
</section>

<section>
<h2>Boucles <code>for</code> et <code>while</code></h2>
<img data-src="../harmo_files/images/flux4.png" style="background:none; border:none; box-shadow:none;max-width:50%;max-height:50%;"><br>
<ul>
	<li>Actions exécutées plusieurs fois</li>
</ul>
<pre><code data-trim contenteditable> 
var number = 0;
while (number <= 12) {
	console.log(number); 
	number = number + 2; 
}
</code></pre>
<pre><code data-trim contenteditable> 
var result = 1;
var counter = 0;
while (counter < 10) {
	result = result * 2;
	counter = counter + 1; 
}
</code></pre>
</section>


<section>
<h2>Les fonctions</h2>
<ul>
	<li>Les fonctions sont définies par :</li>
<pre><code data-trim contenteditable>	
function nomFonction(desParametres){
	...
	//des instructions;
	...
 	return uneValeur;
}
</code></pre>
	<li> Pour utiliser une fonction il suffit de l'appeler :</li>
	<pre><code data-trim contenteditable>
nomFonction(param);
</code></pre>
Ou même :
	<pre><code data-trim contenteditable>
<button onclick="nomFonction(param)">click</button>;
</code></pre>
</ul>
</section>

<section>
        <h2>Suite : Le Javascript dans des pages web</h2>
        <p><a href="web.html"> Javascript dans les pages web</a> </p>
    </section>
    
    <script src="../common/js/EventEmitter.js"></script>
    <script src="../common/reveal/lib/js/head.min.js"></script>
    <script src="../common/reveal/js/reveal.js"></script>    
    <script src="../common/js/three.min.js"></script>        
    <script src="../common/js/samples.js"></script>
    <script src="../common/js/commonFunctions.js"></script> 
	<script>

			// More info https://github.com/hakimel/../common/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				slideNumber: true,
				transitionSpeed: 'slow',
				history: true,
				center: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/../common/reveal.js#dependencies
				dependencies: [
					{ src: '../common/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '../common/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../common/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../common/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '../common/reveal/plugin/zoom-js/zoom.js', async: true },
				]
			});

		</script>			
	</body>
</html>
